<div class="image-container">
  <img src="/assets/images/pill_1.png" alt="About Us Image" />
  <div class="image-text">About Us</div>
</div>

<div class="content-container">
  <h2 class="section-title">We offer the best service for you</h2>
  <div class="card-grid">
    <div class="card">
      <mat-icon class="card-icon">local_hospital</mat-icon>
      <h3>Traitement Médical</h3>
      <p>Des soins médicaux avancés et personnalisés pour votre bien-être.</p>
      <a href="#" class="read-more">Lire plus</a>
    </div>

    <div class="card">
      <mat-icon class="card-icon">emergency</mat-icon>
      <h3>Assistance d'Urgence</h3>
      <p>Une assistance 24/7 pour répondre à toutes les urgences médicales.</p>
      <a href="#" class="read-more">Lire plus</a>
    </div>

    <div class="card">
      <mat-icon class="card-icon">people</mat-icon>
      <h3>Professionnels de Santé</h3>
      <p>Une équipe hautement qualifiée, dédiée à votre santé.</p>
      <a href="#" class="read-more">Lire plus</a>
    </div>

    <div class="card">
      <mat-icon class="card-icon">medical_services</mat-icon>
      <h3>Médecins Qualifiés</h3>
      <p>Des experts spécialisés pour un diagnostic et un traitement efficace.</p>
      <a href="#" class="read-more">Lire plus</a>
    </div>
  </div>
</div>
