.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre plus visible */
  position: relative; /* Nécessaire pour z-index */
  z-index: 1000; /* Valeur élevée pour être au-dessus des autres éléments */
}

/* Styles pour la navbar */
.navbar-brand {
  display: flex;
  align-items: center;
}

/* Styles pour le lien du logo */
.logo {
  text-decoration: none; /* Supprimer le soulignement du lien */
}

/* Styles pour l'image du logo */
.logo-image {
  height: 50px; /* Ajustez la hauteur selon vos besoins */
  width: auto; /* Conserver le ratio de l'image */
  border-radius: 5px; /* Optionnel : coins arrondis */
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links .nav-button {
  background: none;
  border: none;
  color: #267580;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links .nav-button:hover {
  background-color: #267580;
  color: #fff;
}

.navbar-links .nav-button.active {
  background-color: #267580;
  color: #fff;
}

.navbar-actions .btn-login {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  background-color: #267580;
  color: #fff;
}

.navbar-actions .btn-login:hover {
  background-color: #1E1E2D;
}