<header>
  <div class="contact-image">
    <img src="/assets/images/abou.png" alt="Contact Image" />
    <div class="image-text">Contact</div>
  </div>
</header>

<main>
  <section class="contact-section">
    <h2 class="contact-title">INFORMATIONS DE CONTACT</h2>
    <div class="contact-info">
      <div class="info-item">
        <mat-icon class="icon">phone</mat-icon>
        <p>(+216) 70 831 000</p>
      </div>
      <div class="info-item">
        <mat-icon class="icon">email</mat-icon>
        <p>info&#64;clinique-ennasr.com.tn</p>
      </div>
      <div class="info-item">
        <mat-icon class="icon">location_on</mat-icon>
        <p>50 Avenue de l’Ere Nouvelle II-2037 Ariana-Tunisie</p>
      </div>
    </div>
  </section>
</main>
