<!-- <header>
  <div class="contact-image">
    <img src="/assets/images/back.png" alt="Contact Image" />
    <div class="image-text">Contact</div>
  </div>
</header>

<main>
  <section class="contact-section">
    <h2 class="contact-title">INFORMATIONS DE CONTACT</h2>
    <div class="contact-info">
      <div class="info-item">
        <mat-icon class="icon">phone</mat-icon>
        <p>(+216) 70 831 000</p>
      </div>
      <div class="info-item">
        <mat-icon class="icon">email</mat-icon>
        <p>info&#64;clinique-ennasr.com.tn</p>
      </div>
      <div class="info-item">
        <mat-icon class="icon">location_on</mat-icon>
        <p>50 Avenue de l'Ere Nouvelle II-2037 Ariana-Tunisie</p>
      </div>
    </div>
  </section>
</main> -->

<div class="image-container">
  <img src="/assets/images/leaf_1.png" alt="About Us Image" />
</div>
<footer id="footer-section">
  <div class="container">
    <div class="footer-content">
      <!-- About Section -->
      <div class="footer-widget about-widget">
        <div class="brand-logo">
          <img src="/assets/images/logoFooterLight.png" alt="Clinify Logo">
        </div>
        <p>Clinify est une plateforme de services médicaux en ligne et de solutions de santé qui offre des services aux professionnels de santé et aux patients. Elle propose une large gamme de produits, de services et un soutien médical rapide.</p>
        <div class="social-icon-circle">
          <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <!-- Products Links Section -->
      <div class="footer-widget links-widget">
        <h3>Products</h3>
        <ul>
          <li><a href="#">Medicines</a></li>
          <li><a href="#">Vitamins & Supplements</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Medical Equipment</a></li>
          <li><a href="#">Doctor Equipment</a></li>
          <li><a href="#">Offer Sale</a></li>
        </ul>
      </div>

      <!-- Quick Links Section -->
      <div class="footer-widget links-widget">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Support</a></li>
          <li><a href="#">Refund Policy</a></li>
          <li><a href="#">Shipping & Returns</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Secure Payments</a></li>
        </ul>
      </div>

      <!-- Store and Payment Info Section -->
      <div class="footer-widget store-info-widget">
        <h3>Available on</h3>
        <div class="store-buttons">
          <a href="#" class="store-btn bg-royal-blue">
            <div class="icon-wrap"><img src="assets/images/applestore.png" alt="Apple Store"></div>
            <div class="content-wrap">
              <p>Available on</p>
              <span>Apple Store</span>
            </div>
          </a>
          <a href="#" class="store-btn bg-default-black">
            <div class="icon-wrap"><img src="assets/images/playstore.png" alt="Google Play"></div>
            <div class="content-wrap">
              <p>Available on</p>
              <span>Google Play</span>
            </div>
          </a>
        </div>
        <div class="payment-cards">
          <h3>Payment Methods</h3>
          <img src="assets/images/paymee.png" alt="Powered by Stripe">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>©2020 Clinify. All Rights Reserved.</p>
  </div>
</footer>
