<div class="home-container">
  <div class="overlay-text">
    <h1 class="title">Clinify - Service Médical avec Notre Platform</h1>
    <h6 class="slogan">Clinify a toujours mis l'accent sur les meilleurs traitements </h6>
    <h6 class="slogan">à des prix abordables grâce aux meilleurs services médicaux </h6>
  </div>
  <img src="/assets/images/home-image3.jpg" class="home-image" />
</div>
<div id="about" class="section">
  <app-about></app-about>
</div>
<div id="contact" class="section">
  <app-contact></app-contact>
</div>
