
<div class="patient-profile">

  
  <div *ngIf="patient; else loading" class="patient-info">
    <div class="profile-item">
      <strong>Nom :</strong> {{ patient.firstName }} {{ patient.lastName }}
    </div>
    <div class="profile-item">
      <strong>Email :</strong> {{ patient.email }}
    </div>
    <div class="profile-item">
      <strong>Date de naissance :</strong> {{ patient.dateOfBirth | date: 'dd/MM/yyyy' }}
    </div>
  </div>

  <ng-template #loading>
    <p class="loading-message">Chargement des données...</p>
  </ng-template>

  
  
</div>
