<nav class="sidebar">


  <!-- Section profil -->
  <div class="profile-section">
    <img
      src="assets/images/utilisateur.png"
      alt="Photo de profil"
      class="profile-img"
    />
    <p class="welcome-msg">
      {{ patient?.firstName || 'Utilisateur' }}
    </p>
  </div>

  <!-- Liens de navigation -->
  <div class="nav-links">
    <!-- Lien Dossier Médical -->
    <a
      routerLink="/dossier"
      routerLinkActive="active"
      class="nav-link"
    >
      <mat-icon>medical_services</mat-icon>
      <span>Dossier Médical</span>
    </a>

    <!-- Lien Mes Rendez-vous -->
    <a
      routerLink="/rendez-vous"
      routerLinkActive="active"
      class="nav-link"
    >
      <mat-icon>calendar_today</mat-icon>
      <span>Mes Rendez-vous</span>
    </a>

    <!-- Lien Prendre RDV -->
    <a
      routerLink="/nouveau-rdv"
      routerLinkActive="active"
      class="nav-link"
    >
      <mat-icon>add_circle</mat-icon>
      <span>Prendre RDV</span>
    </a>

        <!-- Lien Paiement -->
        <a
        routerLink="/paiement"
        routerLinkActive="active"
        class="nav-link"
      >
        <mat-icon>credit_card</mat-icon>
        <span>Paiement</span>
      </a>
  </div>
</nav>
